/* signup.module.css */
/* action(signup) */
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249 250 251);
  }
  
  .formContainer {
    width: 100%;
    max-width: 20rem;  /* 로그인 폼과 동일한 너비 */
    padding: 2rem;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgb(244 63 94);  /* 로고 색상과 동일 */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .inputGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .input {
    width: 80%;
    padding: 0.75rem;
    padding-left: 3.5rem;  /* 아이콘을 위한 여백 */
    border-radius: 1.5rem;
    color: rgba(0, 0, 0, 0.838);
    border: 1px solid rgb(209 213 219);
  }
  
  .input:focus {
    outline: 2px solid rgba(211, 211, 211, 0.534);
    outline-offset: 2px;
  }
  
  .input::placeholder {
    color: #9CA3AF;
  }
  
  .button {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.534);
    color: black;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: none;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .button:hover:not(:disabled) {
    background-color: rgb(211, 211, 211);
  }
  
  .button:disabled {
    background-color: rgb(211, 211, 211);
    cursor: not-allowed;
  }
  
  .errorText {
    color: #dc2626;
    font-size: 0.875rem;
    padding-left: 10px;
  }
  
  .successMessage {
    padding: 1rem;
    margin: 10px 0;
    border-radius: 2rem;
    background-color: rgb(134 239 172);
    color: rgb(21 128 61);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1.5rem;
    border: none;
  }
  
  .successMessage:hover {
    /* 여러 가지 효과 옵션 중 선택 가능 */
    transform: translateY(-3px);  /* 살짝 위로 떠오르는 효과 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  /* 그림자 효과 */
    background-color: rgb(110 231 183);  /* 살짝 더 진한 색상 */
  }
  
  .successMessage:active {
    transform: translateY(0);  /* 클릭시 원래 위치로 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .errorMessage {
    padding: 1rem;
    margin: 30px 0;
    border-radius: 2rem;
    background-color: rgb(254 226 226);
    color: rgb(220 38 38);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1.5rem;
  }
  
  /* SVG 아이콘에 대한 스타일 */
  .inputGroup svg {
    position: absolute;
    transform: translateY(10px) translateX(15px);
    width: 1.25rem;
    height: 1.rem;
    color: gray;
    z-index: 10;
  }
  
  /* 메시지 아이콘에 대한 스타일 */
  .successMessage svg, .errorMessage svg {
    width: 1.25rem;
    height: 1.25rem;
  }